<div class="sidebar-header">
    <img class="logo-full">
    <img class="logo-icon">
</div>

<a class="nav-link" href="#/dashboard">
    <span class="icon" id="iconDashboard"></span>
    <span>{{dashboard}}</span>
</a>

<a class="nav-link" href="#/providers">
    <span class="icon" id="iconProviders"></span>
    <span>{{providers}}</span>
</a>

<a class="nav-link" href="#/records">
    <span class="icon" id="iconRecords"></span>
    <span>{{records}}</span>
</a>

<a class="nav-link" href="#/settings">
    <span class="icon" id="iconSettings"></span>
    <span>{{settings}}</span>
</a>