<a href="#/dashboard" class="tab-item">
        <span class="icon" id="tabbarDashboard"></span>
        <span>{{dashboard}}</span>
    </a>

    <a href="#/providers" class="tab-item">
        <span class="icon" id="tabbarProviders"></span>
        <span>{{providers}}</span>
    </a>

    <a href="#/records" class="tab-item">
        <span class="icon" id="tabbarRecords"></span>
        <span>{{records}}</span>
    </a>

    <a href="#/settings" class="tab-item">
        <span class="icon" id="tabbarSettings"></span>
        <span>{{settings}}</span>
    </a>